{% extends 'base.html' %}
{% load static %}

{% block maincontent %}

    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <!-- bradcam_area_start  -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Services</li>
                <li class="breadcrumb-item active" aria-current="page">Health Tips</li>
            </ol>
        </nav>
        <!-- bradcam_area_end  -->
    </div>

    <div class="expert_doctors_area doctor_page">
        <div class="container">
            <div class="row" style="margin-left: 20px; margin-right: 20px;">
                {% for obj in object_list %}
                <div>
                    <h2>{{ obj.title }}</h2>
                    <p>
                        {{ obj.description }}
                    </p>
                </div>
                <br/><br/>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
        <div class="conatiner-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
                        <div class="info">
                            <h3>For Any Emergency Contact</h3>
                            <p>Esteem spirit temper too say adieus.</p>
                        </div>
                        <div class="info_button">
                            <a href="#" class="boxed-btn3-white">+10 378 4673 467</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
                        <div class="info">
                            <h3>Make an Online Appointment</h3>
                            <p>Esteem spirit temper too say adieus.</p>
                        </div>
                        <div class="info_button">
                            <a href="#" class="boxed-btn3-white">Make an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Emergency_contact end -->

{% endblock maincontent %}