<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/admin/img/favicon.ico">
    <title>RMS - Medical & Hospital</title>
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/style.css">
</head>

<body>
    <div class="main-wrapper error-wrapper">
        <div class="error-box">
            <form action="http://dreamguys.co.in/preclinic/template/index.html">
                <div class="lock-user">
                    <img class="rounded-circle" src="../../../static/admin/img/user.jpg" alt="">
                    <h6>Chea Kongdany</h6>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Enter Password" type="password">
                </div>
                <div class="text-center">
                    <a href="login.html">Sign in as a different user?</a>
                </div>
            </form>
        </div>
    </div>
    <script src="../../../static/admin/js/jquery-3.2.1.min.js"></script>
	<script src="../../../static/admin/js/popper.min.js"></script>
    <script src="../../../static/admin/js/bootstrap.min.js"></script>
</body>

</html>