<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/admin/img/favicon.ico">
    <title>RMS - Medical & Hospital</title>
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/admin/css/style.css">
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    <form action="" class="form-signin">
						<div class="account-logo">
                            <a href="#"><img src="../../../static/admin/img/logo-dark.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="text" autofocus="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                        <div class="text-center register-link">
                            Don’t have an account? <a href="register.html">Sign Up</a>
                        </div>
                    </form>
                </div>
			</div>
        </div>
    </div>
    <script src="../../../static/admin/js/jquery-3.2.1.min.js"></script>
	<script src="../../../static/admin/js/popper.min.js"></script>
    <script src="../../../static/admin/js/bootstrap.min.js"></script>
    <script src="../../../static/admin/js/app.js"></script>
</body>

</html>