{% load static %}

<script src="{% static 'hospital/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'hospital/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'hospital/js/popper.min.js' %}"></script>
<script src="{% static 'hospital/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hospital/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'hospital/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'hospital/js/ajax-form.js' %}"></script>
<script src="{% static 'hospital/js/waypoints.min.js' %}"></script>
<script src="{% static 'hospital/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'hospital/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'hospital/js/scrollIt.js' %}"></script>
<script src="{% static 'hospital/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'hospital/js/wow.min.js' %}"></script>
<script src="{% static 'hospital/js/nice-select.min.js' %}"></script>
<script src="{% static 'hospital/js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'hospital/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'hospital/js/plugins.js' %}"></script>
<script src="{% static 'hospital/js/gijgo.min.js' %}"></script>
<!--contact js-->
<script src="{% static 'hospital/js/contact.js' %}"></script>
<script src="{% static 'hospital/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'hospital/js/jquery.form.js' %}"></script>
<script src="{% static 'hospital/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'hospital/js/mail-script.js' %}"></script>

<script src="{% static 'hospital/js/main.js' %}"></script>

<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $(document).ready(function() {
        $('.js-example-basic-multiple').select();
    });
</script>