{% load static %}

<div class="slider_area">
    <div class="slider_active owl-carousel">
        {% for slide in slides %}
        <div class="single_slider d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3><span>{{ slide.caption }}</span></h3>
                            <p>In healthcare sector, service excellence is the facility of <br> the hospital as
                                healthcare service provider to consistently.</p>
                            <a href="#" class="boxed-btn3">Check Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>